{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        metosin/malli {:git/url "https://github.com/metosin/malli.git"
                       :sha "c97967996cd6ddb5a587a34a96e53dd76f9509ac"}
        caesarhu/unqualify {:git/url "https://github.com/caesarhu/unqualify.git"
                            :sha "f07af40ba6f994571bb5f7402cfa91dfdb06b28e"}
        caesarhu/malli-tools {:git/url "https://github.com/caesarhu/malli-tools.git"
                              :sha "916bc1a36de348fe6570228035c33205675fbeaf"}
        kwrooijen/gungnir {:mvn/version "0.0.1-SNAPSHOT"}
        juxt/clip {:mvn/version "0.21.0"}
        aero/aero {:mvn/version "1.1.6"}
        org.clojure/tools.namespace {:mvn/version "1.1.0"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
        clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
        honeysql/honeysql {:mvn/version "1.0.444"}
        nilenso/honeysql-postgres {:mvn/version "0.2.6"}
        fipp/fipp {:mvn/version "0.6.23"}
        com.rpl/specter {:mvn/version "1.1.3"}
        medley/medley {:mvn/version "1.3.0"}}
 :aliases
 {:dev {:extra-paths ["dev/src" "test" "dev/resources"]
        :extra-deps {expound/expound {:mvn/version "0.8.7"}
                     orchestra/orchestra {:mvn/version "2021.01.01-1"}
                     org.clojure/tools.gitlibs {:mvn/version "1.0.100"}
                     com.gfredericks/test.chuck {:mvn/version "0.2.10"}
                     jedi-time/jedi-time {:mvn/version "0.2.1"}
                     ;;; log
                     com.taoensso/timbre {:mvn/version "5.1.2"}
                     com.fzakaria/slf4j-timbre {:mvn/version "0.3.20"}
                     org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}
                     org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}
                     org.slf4j/jul-to-slf4j {:mvn/version "1.7.30"}
                     lambdaisland/kaocha {:mvn/version "1.0.732"}
                     ;;;
                     taiwan-id/taiwan-id {:mvn/version "0.4.1"}}
        :jvm-opts ["-Dmalli.registry/type=custom"]}
  :test {:extra-paths ["dev/src" "test" "dev/resources"]
         :jvm-opts ["-Dmalli.registry/type=custom"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      taiwan-id/taiwan-id {:mvn/version "0.4.1"}
                      lambdaisland/kaocha {:mvn/version "1.0.732"}}}
  :jar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "gungnir-tools.jar" :sync-pom true}}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "gungnir-tools.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "gungnir-tools.jar"}}}}
