{:objects {:bank {:description "銀行一覽表",
                  :fields {:bank/bank-id {:type String,
                                          :description "銀行代號"},
                           :bank/name {:type (non-null String),
                                       :description "銀行名稱"},
                           :bank/memo {:type String,
                                       :description "備註"}}},
           :employee {:description "員工基本資料檔",
                      :fields {:employee/price-kind {:type (non-null
                                                            String),
                                                     :description "費用類別"},
                               :employee/account {:type String,
                                                  :description "銀行帳號"},
                               :employee/reg-addr {:type (non-null
                                                          String),
                                                   :description "戶籍地址"},
                               :employee/factory {:type String,
                                                  :description "廠區"},
                               :employee/changes {:type (list :change)},
                               :employee/job-title-2 {:type String,
                                                      :description "職稱2"},
                               :employee/education {:type String,
                                                    :description "學歷"},
                               :employee/exception {:type String,
                                                    :description "特殊狀況例外處理"},
                               :employee/id {:type Int,
                                             :description "id"},
                               :employee/updated-at {:type DateTime,
                                                     :description "修改時間"},
                               :employee/bank-name {:type String,
                                                    :description "員工銀行名稱"},
                               :employee/mobile {:type String,
                                                 :description "行動電話"},
                               :employee/employee-kind {:type (non-null
                                                               String),
                                                        :description "員工類別"},
                               :employee/created-at {:type DateTime,
                                                     :description "建立時間"},
                               :employee/gender {:type (non-null
                                                        String),
                                                 :description "性別"},
                               :employee/work-place {:type String,
                                                     :description "工作地"},
                               :employee/memo {:type String,
                                               :description "備註"},
                               :employee/phone {:type String,
                                                :description "住家電話"},
                               :employee/education-period {:type String,
                                                           :description "修業期間"},
                               :employee/job-title {:type String,
                                                    :description "職稱"},
                               :employee/company-id {:type (non-null
                                                            String),
                                                     :description "員工編號"},
                               :employee/name {:type (non-null String),
                                               :description "姓名"},
                               :employee/mail-addr {:type String,
                                                    :description "通訊地址"},
                               :employee/unit-id {:type (non-null
                                                         String),
                                                  :description "單位代號"},
                               :employee/birthday {:type (non-null
                                                          Date),
                                                   :description "生日"},
                               :employee/taiwan-id {:type (non-null
                                                           String),
                                                    :description "身分證號"},
                               :employee/direct-kind {:type (non-null
                                                             String),
                                                      :description "間直接"},
                               :employee/bank-id {:type String,
                                                  :description "銀行代號"}}},
           :change {:description "員工異動檔",
                    :fields {:change/employee {:type :employee},
                             :change/id {:type Int, :description "id"},
                             :change/employee-id {:type (non-null Int),
                                                  :description "員工基本資料檔id"},
                             :change/change-kind {:type (non-null
                                                         String),
                                                  :description "異動類別"},
                             :change/change-day {:type (non-null Date),
                                                 :description "異動日期"},
                             :change/created-at {:type DateTime,
                                                 :description "建立時間"},
                             :change/memo {:type String,
                                           :description "備註"}}}}}
